<main>
    <h2>Lista de Productos</h2>
    <div class="cardContainer">
        {{#each products}}
        <div class="card">
            <img alt={{this.title}} />
            <div class="price">
                <spam>$</spam>
                <p>{{this.price}}</p>
            </div>
            <div>
                <div>

                    <button>add to cart</button>
                </div>
            </div>
            <div>
                <h2>{{this.title}}</h2>
                <div>
                    <span>{{this.author}}</span>
                    <div>
                        <span>Stock:</span>
                        <span>{{this.stock}}</span>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</main>