<div class="maingestion">
  <table class="mainTableGestion">
    <thead>
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Author</th>
        <th>Description</th>
        <th>Price</th>
        <th>Category</th>
        <th>thumbnail</th>
        <th>Code</th>
        <th>Stock</th>
      </tr>
    </thead>

    <body id="itemTableContent">
      {{#each products}}
      <tr>
        <td>{{this.id}}</td>
        <td >{{this.title}}</td>
        <td >{{this.author}}</td>
        <td>{{this.description}}</td>
        <td>{{this.price}}</td>
        <td>{{this.category}}</td>
        <td>
          <img  src={{this.thumbnail}} />
        </td>
        <td>{{this.code}}</td>
        <td>{{this.stock}}</td>
      </tr>
      {{/each}}
    </body>
  </table>
</div>
</div>